.destaques {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
}

.destaques__principal { /*Quando colocamos dois __ quer dizer que a classe é um elemento filho de Destaques. Isso é metodologia BEM*/
    background-image: url("../img/fortnite.jpg");
    background-position: center;/*Para se alinhar ao centro do espaço*/
    background-repeat: no-repeat; /*Para a imagem não se repetir*/
    background-size: cover; /*Para tomar todo o espaço*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.destaques__secundario:nth-child(2) {

    /*nth-child(2): Nós estamos pegando o segundo filho da classe destaques, visto que o primeiro filho desta classe é o destaques__principal

    A pseudo-classe CSS :nth-child() seleciona elementos com base em suas posições em um grupo de elementos irmãos.*/
    
    background-image: url("../img/pubg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}