.populares {
    padding: 3rem 0rem; /*Adicionando uma margin nos lados para descolar a esquerda desgrudar da borda*/
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap; /*Quando o tamanho dos cards ficarem muito pequeno na linha ele vai jogar os card para a proxima linha*/
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto; /*A primeira linha do card vai ter 173 pixel, ou seja todas as imagens. E a parte debaixo que é o conteudo do card, vai se ajustar automaticamente.*/
    margin-right: 1rem; /*Criando um espaço a direita.*/
    width: calc(20% - 1rem); /*Diminuindo 1rem do width do nosso card para que ele fique separado e caiba os 5 na mesma ROW*/
}

.populares__card:last-child {
    margin: 0;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.populares__card___titulo {
    color: #333333;
    font-size: 1.5rem;
}

.populares__card___data {
    color: #333333;
    font-size: .9rem;
}

.populares__card___descricao {
    color: #333;
    line-height: 1.5; /*Altura da linha*/
    margin: 1rem 0;
    text-align: justify;
}

.populares__titulo {
    font-weight: 500;
}

.populares__icone {
    margin-right: .25rem;  
}

.populares__cabecalho { /*Display flex para fazer eles ficarem cada um em um canto.*/
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between; /*Fazer eles ficarem cada qual em seu canto.*/
}

.populares__botao { /*Removendo estilo do botão.*/
    background: transparent; /*Sem background*/
    border: none; /*Sem bordas do botão*/
    color: #333;
}