.populares {
    padding: 3rem 0;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap; /*Quando o tamanho dos cards ficarem muito pequeno na linha ele vai jogar os card para a proxima linha*/
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto; /*A primeira linha do card vai ter 173 pixel, ou seja todas as imagens. E a parte debaixo que é o conteudo do card, vai se ajustar automaticamente.*/
    margin-right: 1rem; /*Criando um espaço a direita.*/
    width: calc(20% - 1rem); /*Diminuindo 1rem do width do nosso card para que ele fique separado e caiba os 5 na mesma ROW*/
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}