@media screen and (min-width: 0) {
    .destaques__principal {
        grid-column: 1 / 5;
        /*grid-row: 1 / 3;*/ /*Ele foi removido por que já existe no "destaques.css"
        
        Também é necessarior irmos até o "destaques.css" e remover o grid column de todos os filhos, pois eles serão passados aqui no responsivo para ser ajustado em cada tamanho de tela*/
    }
    .destaques__secundario:nth-child(2) { /*Escondendo o PUBG*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(3) { /*Escondendo o SLACK*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(4) { /*Escondendo o Whatsapp*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(5) { /*Escondendo o CS:GO*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1200px) {

}