@media screen and (min-width: 0) {
    .destaques__principal, .destaques__categorias { /*principal e categorias irão receber o mesmo grid-column, então coloquei os dois juntos na declaração.*/
        grid-column: 1 / 5;
        /*grid-row: 1 / 3;*/ /*Ele foi removido por que já existe no "destaques.css"
        
        Também é necessarior irmos até o "destaques.css" e remover o grid column de todos os filhos, pois eles serão passados aqui no responsivo para ser ajustado em cada tamanho de tela*/
    }
    .destaques__secundario:nth-child(2) { /*Escondendo o PUBG*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(3) { /*Escondendo o SLACK*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(4) { /*Escondendo o Whatsapp*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(5) { /*Escondendo o CS:GO*/
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .populares__conteudo {
        flex-direction: column;
    }
    .populares__card {
        grid-template-rows: 150px auto; /*mexendo na altura da linha do card, colocamos a largura auto.*/
        margin-bottom: 3rem; /*para desgrudar os card's*/
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .destaques__principal, .destaques__categorias {
        grid-column: 1 / 4;
    }
    .destaques__secundario:nth-child(2) { /*Mostrando o PUBG*/
        display: flex;
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }
    .destaques__secundario:nth-child(3) { /*Mostrando o SLACK*/
        display: flex;
        grid-column: 4 / 4;
        grid-row: 2 / 2;
    }
    .destaques__secundario:nth-child(4) { /*Mostrando o Whatsapp*/
        display: flex;
        grid-column: 4 / 4;
        grid-row: 3 / 3;
    }
    .destaques__secundario:nth-child(5) { /*Mostrando o CS:GO*/
        display: flex;
        grid-column: 3 / 3;
        grid-row: 3 / 3;
    }
    .destaques__categorias {
        grid-column: 1 / 3;
    }
    .populares__conteudo {
        flex-direction: row; /*Agora precisa ser por linha pois teremos um ao lado do outro.*/
    }
    .populares__card {
        grid-template-rows: 173px auto;
        margin-bottom: 3rem;
        margin-right: 1rem;
        width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 992px) {
    .populares__card {
        width: calc(33.33% - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    .populares__card {
        margin-bottom: 0;
        width: calc(20% - 1rem);
    }
}

/*Se as classes não mudarem não precisamos repetir as declarações.
Por isso na medida que vamos descendo nós vamos mudando as tags se for necessario.

se temos margin-right no @media 768px, e ele vai permanecer no 992px, então não precisamos declarar o margin novamente.*/